@import '../../base/base';

.instagram {
  background-image: url('../../images/instagram_background.png');
  background-position: bottom right;
  background-size: 162px 261px;
  background-repeat: no-repeat;
  padding: 16px 0 31px;
  &__title {
    @extend %section-title;
    margin-bottom: 50px;
    max-width: 319px;
  }

  &__list {
    padding-left: 21.5px;
    margin: 0;
    align-self: flex-start;
    list-style-type: none;
  }

  &__list-item {
    @extend %list-item;
    margin-bottom: 16px;
    max-width: 231px;
    color: #383c41;
    position: relative;
    &::before {
      content: '\2022';
      font-size: 28px;
      line-height: 28px;
      position: absolute;
      top: calc(50% - 16px); // половина list-item минус половина высоты текста
      left: -21.5px;
      color: $secondary-color;
    }
  }

  &__list-item:last-of-type {
    margin: 0;
  }
}
