.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 122px);
  grid-template-rows: repeat(4, 128px);
  gap: 15px;
  grid-template-areas:
    'item-1 item-1 item-2'
    'item-1 item-1 item-3'
    'item-1 item-1 item-4'
    'item-5 item-6 item-7';
  margin-bottom: 30px;

  &__item {
    position: relative;
    cursor: pointer;

    @for $i from 1 through 7 {
      &_position_item-#{$i} {
        grid-area: item-#{$i};
      }
    }
    &:not(.video-grid__item_position_item-1):before {
      content: '';
      background-image: url('../../images/icons/play_icon.svg');
      position: absolute;
      top: calc(50% - 12.5px);
      left: calc(50% - 12.5px);
      width: 25px;
      height: 25px;
    }

    &_position_item-1::after {
      content: '';
      background-image: url('../../images/new_marker.svg');
      background-size: contain;
      position: absolute;
      top: 11px;
      right: 9px;
      z-index: 10;
      width: 40px;
      height: 21px;
    }
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 425px) {
  .video-grid {
    grid-template-columns: repeat(3, 86px);
    grid-template-rows: repeat(4, 90px);
  }
}
