@import '../../base/base';

.questions {
  margin-bottom: 60px;
  &__title {
    @extend %section-title;
    margin-bottom: 38px;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
