@import '../../base/base';

.reviews {
  padding-top: 20px;
  margin-bottom: 80px;
  &__title {
    @extend %section-title;
    margin: 0 0 14.5px;
  }

  &__carousel {
    &-item {
      padding: 10px 0;
      display: flex;
      justify-content: center;
    }

    &-button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: $secondary-color;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      padding-top: 3px;
      font-size: 25px;
      line-height: 20px;

      &_type_right {
        margin: 0 0 0 auto;

        &::before {
          content: '>';
        }
      }

      &_type_left {
        margin: 0 auto 0 0;

        &::before {
          content: '<';
        }
      }
    }
  }
}
