.App {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', Arial, sans-serif;
  font-style: normal;
  min-width: 320px;
  min-height: 100dvh;
  max-width: 428px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
