.logo {
  display: block;

  min-width: 44px;
  min-height: 44px;
  background-image: url('../../images/tochnoda_logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_size_big {
    width: 59px;
    height: 59px;
  }
  &_size_small {
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .logo_size_big {
    width: 44px;
    height: 44px;
  }
}
