@import '../../base/base';

.about {
  padding: 20px 0 20px;
  &__title {
    @extend %section-title;
    margin-bottom: 12px;
  }
  &__list {
    margin: 0 0 15px;
    padding-left: 24px;

    &-item {
      @extend %list-item;
    }
  }
}
