@import '../../base/base';

.about {
  padding-bottom: 40px;
  &__title {
    @extend %section-title;
    margin-bottom: 12px;
  }
  &__list {
    margin: 0;
    padding-left: 24px;
  }
  &__list-item {
    @extend %list-item;
  }
}
