@import '../../base/base';

.header {
  padding: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 396px;
  box-sizing: border-box;
  width: calc(100% - (16px * 2));

  &__navigation {
    max-width: 285px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-self: center;
    padding: 0 5px 0 0;

    &-link {
      text-wrap: nowrap;
      color: $primary-color;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      position: relative;

      // с помощью псевдоэлемента увеличим зону кликабельности ссылки
      &::before {
        content: '';
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 300%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    &__navigation {
      padding: 0 5px 0 5px;

      &-link {
        font-size: 14px;
      }
    }
  }
}
