.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: inherit;

  &__container {
    max-width: 396px;
    margin: 0 auto;
    width: calc(100% - (16px * 2));
    box-sizing: border-box;
    display: flex;
    padding: 19px 8px;
    justify-content: space-between;
    align-items: center;
  }
}
